/* Customize your main colors in :root variables */
:root {
  --main-background-color: rgb(37, 71, 89);
  --card-background-color: rgb(52, 95, 112);
  /* --card-background-lighter-color: rgb(111, 138, 155); */
  --card-background-lighter-color: rgb(37, 71, 89);
  --main-text-color:rgb(195,243,221);
  --title-text-color:rgb(195,243,221);
  /* --title-text-color:rgb(246,90,167); */
  --highlight-color:rgb(246,90,167);
  --button-text-color:rgb(195,243,221);
  --button-background-color: rgb(246,90,167);
}

 html{
  font-size: 32px;
}

@font-face {
    font-family: 'Squarewave';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/Squarewave-Bold.ttf');
}
/* @font-face {
    font-family: 'ka1';
    font-style: normal;
    font-weight: normal;
    src: local('ka1'), url('./fonts/ka1.woff') format('woff');
} */

@font-face {
    font-family: 'Pixolletta8px';
    font-style: normal;
    font-weight: normal;
    /* src: url('./fonts/04B_19__.TTF'); */
    src: url('./fonts/Pixolletta8px.ttf');
    /* src: local('Minecraft'), url('./fonts/Minecraft.ttf') format('ttf'); */
}

@font-face {
    font-family: '04B_19';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/04B_19__.TTF');
    /* src: local('Minecraft'), url('./fonts/Minecraft.ttf') format('ttf'); */
}

@font-face {
    font-family: '04B_30';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/04B_30__.TTF');
    /* src: local('Minecraft'), url('./fonts/Minecraft.ttf') format('ttf'); */
}

body{
  background-color:var(--main-background-color);
  font-family: 'Squarewave', 'Patrick Hand', cursive;
  /* font-family: 'Press Start 2P', 'Minecraft', 'Patrick Hand', cursive; */
  font-size: 1rem;
}

h1{
  font-family: '04B_30', 'Patrick Hand', cursive;
}

h2{
  font-family: 'Squarewave', 'Patrick Hand', cursive;
  font-size: 2rem;
}

p{
  font-family: 'Squarewave', 'Patrick Hand', cursive;
  font-size: 1rem;
}

h2, p{
  color: var(--main-text-color);
  /* font-family: 'Press Start 2P', 'Minecraft', 'Patrick Hand', cursive; */
}

h3{
  color: var(--main-text-color);
  font-weight: normal;
}

.wallet-adapter-dropdown-list{
  border-radius: 2px !important;
  background-color: var(--card-background-color) !important;
  font-family: 'Squarewave', 'Patrick Hand', cursive !important;
  gap: .5rem !important;
  padding: .5rem !important;
  margin-top: 5px !important;
}

.wallet-adapter-dropdown-list-item {
    background: var(--card-background-lighter-color) !important;
    border-radius: 2px !important;
    font-size: 1rem !important;
    height: 1.5rem !important;
    color: var(--button-text-color) !important;
}

.wallet-adapter-dropdown-list-item:not([disabled]):hover {
    color: var(--highlight-color) !important;
}

.wallet-adapter-modal-wrapper {
  border-radius: 2px !important;
  background: var(--card-background-lighter-color) !important;;  
  font-family: 'Squarewave', 'Patrick Hand', cursive !important;

}

.wallet-adapter-modal-title {
  color: var(--main-text-color) !important;
}

.wallet-adapter-button {
  background-color: var(--card-background-color) !important;
  border-radius: 2px !important;
  color: var(--main-text-color) !important;
  font-family: 'Squarewave', 'Patrick Hand', cursive !important;
  font-size: 1rem !important;
}


.wallet-adapter-button:not([disabled]):hover {
    color: var(--highlight-color) !important;
}

.wallet-adapter-modal-button-close svg {
    fill: var(--button-text-color) !important;
}

.wallet-adapter-modal-button-close:hover svg {
    fill: var(--highlight-color) !important;
}


.wallet-adapter-modal-collapse-button svg {
    fill: var(--button-text-color) !important;
}

/* 

  .wallet-adapter-dropdown-list{
    color: red;
  }

  .wallet-adapter-dropdown{
      background-color: yellow !important;
  }
  
  ul li{
      background-color: green !important;
  } */

@media (max-width: 1400px){
  #MintContainer {
    flex-direction: column;
  }

  /* #right-side-header {
    justify-content: flex-end;
    flex-direction: column-reverse;
  } */
}









